.evidence {
    border: 1px solid #ddd; /* Opcjonalnie: stylizacja dla lepszej widoczności */
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
  }